* {
    margin: 0;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #1C242D;
}

header {
    margin-right: auto;
    margin-left: auto;
    width: 66vw;
    background-color: #F44336;
    padding: 2px 10px 2px 10px;
    display: flex;
    border-bottom: solid black;
    border-left: solid black;
    border-right: solid black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}

header img {
    padding-left: 20px;
    margin-right: auto;
    width: 80px;
    height: 80px;
    transition: .5s ease ;
}

header img:hover {
    transform: scale(1.1, 1.1);
}

header a {
    font-family: 'Open Sans', sans-serif;
    align-self: center;
    color: white;
    margin: 15px 35px 15px 15px;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

header a:hover {
    background-size: 100% 2px;
}

section {
    margin-right: auto;
    margin-left: auto;
    width: 63vw;
    padding: 20px;
    height: 100vh;
    background-color: white;
}

p {
    padding: 10px;
}